<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h3>{{user.name}}</h3>
    <img src="{{user.photo}}" alt="Picture of {{user.name}}" height="200">
    <ul>
      <li>Email: {{user.email}}</li>
      <li>Website: {{user.url}}</li>
    </ul>
  </body>
</html>
